header {
    border-bottom: 2px solid steelblue;
    background-image: linear-gradient(
        white 0%, rgb(174, 207, 235) 100%);
        padding: 10px;
        padding-left: 5px; }

img {
    float: left;
    margin-right: 1em;
    margin: 10px;
    padding-right: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 1200px;
    height: auto;
    margin: 0px;
    border: solid black;
    box-shadow: 5px 5px 5px 5px black;
}

#sidebar1 {
    width: 275px;
    height: auto;
    float: left;
    padding: 12.5px;
    padding-top: 0;
}

main {
    width: 600px;
    height: auto;
    float: left;
}

#sidebar2 {
    width: 275px;
    height: auto;
    float: right;
    padding: 12.5px;
    padding-top: 0;
}

h1 {
    color: steelblue;
    text-shadow: 2px 2px 4px;
    font-style: italic;
}

#header2 {
    font-size: 135%;
}

a.class1:link, a.class1:visited {
    color: maroon;
}

a.class1:hover, a.class1:focus { color: steelblue }

a.class2:link, a.class2:visited {
    color: steelblue;
}

a.class2:hover, a.class2:focus { color: maroon }

ul li {
    margin-bottom: 4px;
    position: relative;
}

ul {
    margin-left: 0px;
    padding-left: 0px;
}
footer p {
    font-size: 80%;
    text-align: center;
    color: white;
    padding: 1.5em;
}

footer {
    clear: both;
    background-color: steelblue;
    height: 3em;
}

#AR, #AB {
    color: maroon;
}