body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 1020px
    
}

header {
    border-bottom: 2px solid steelblue;
    background-image: linear-gradient(
        white 0%, rgb(174, 207, 235) 100%)
}

img {
    float: left;
    margin-right: 1em;
}
main { 
    clear: left;
    width: 725px;
    height: auto;
    float: right;
}

h1 {
    color: steelblue;
    text-shadow: 2px 2px 4px;
    font-style: italic;
}

#header2 {
    font-size: 135%;
}

aside blockquote ul {
    padding-left: 0;
    list-style-position: inside;
    margin-left: 0;
}

aside blockquote ul li {
    margin-bottom: 4px;
    padding-left: -20px; /* Adjust padding as needed */
    text-indent: -40px; /* Negative text indent for bullet alignment */
}

a.class1:link, a.class1:visited {
    color: maroon;
}

a.class1:hover, a.class1:focus { color: steelblue }

a.class2:link, a.class2:visited {
    color: steelblue;
}

a.class2:hover, a.class2:focus { color: maroon }

footer p {
    font-size: 80%;
    text-align: center;
    color: white;
    padding: 1.5em;
}

ul li {
    margin-bottom: 4px;
}

aside {
    width: 275px;
    float: left;
    padding-left: 20px;
}

footer {
    clear: both;
    background-color: steelblue;
    height: 3em;
}

#AR {
    color: maroon;
    align-items: center;
    text-decoration: none;
}

header {
    padding: 10px;
    padding-left: 5px;
}

img {
    margin: 5px;
    padding: 5px;
    padding-right: 5px;
}

/* CSS for operation of the menus */
#nav_menu ul {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;
}
#nav_menu ul li {
    float: left;
    position: relative;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 0;
    padding: 0;
}
#nav_menu ul ul li ul {
    position: absolute;
    left: 100%;
    top: 0;
}
#nav_menu ul li.lastitem ul li ul {
    left: -100%;
}
#nav_menu ul li:hover > ul {
    display: block;
}

#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
/* CSS for formatting the menus */
#nav_menu ul {
    margin: 0;
    padding: 0;}
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 204px;
    padding: 1em 0;
    text-decoration: none;
    background-color: steelblue;
    color: white;
    font-weight: bold;}
#nav_menu ul li.lastitem a {
    width: 204px;
}
#nav_menu ul li a.current {
    color: black;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
    background-color: lightsteelblue;
}
#nav_menu ul ul li {
    margin: 0;
    padding: 0;
}

h3 {
    color: maroon;
}

a {
    text-decoration: none;
}